  <!-- Start Top Header Area -->
  <div class="top-header-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <ul class="social">
                    <li class="facebook">
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class='bx bxl-facebook'></i>
                        </a>
                    </li>
                    <li class="twitter">
                        <a href="https://www.twitter.com/" target="_blank">
                            <i class='bx bxl-twitter'></i>
                        </a>
                    </li>
                    <li class="instagram">
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class='bx bxl-instagram'></i>
                        </a>
                    </li>
                    <li class="pinterest">
                        <a href="https://www.pinterest.com/" target="_blank">
                            <i class='bx bxl-pinterest-alt'></i>
                        </a>
                    </li>
                    <li class="youtube">
                        <a href="https://www.youtube.com/" target="_blank">
                            <i class='bx bxl-youtube'></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- <div class="col-lg-5">
                <div class="top-header-text">
                    <p>
                        Some announcement or news can go here.
                        <a href="contact.html">Learn More</a>
                    </p>
                </div>
            </div> -->

            <div class="col-lg-4">
                <div class="map-dropdown">
                    <div class="d-flex align-items-center">
                        <div class="option-item">
                            <div class="dropdown language-switcher d-inline-block">
                                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="assets/img/flag/us-flag.jpg" class="shadow" alt="image">
                                    <span>Eng <i class='bx bx-chevron-down'></i></span>
                                </button>

                                <!-- <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img src="assets/img/flag/germany-flag.jpg" class="shadow-sm" alt="flag">
                                        <span>Ger</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img src="assets/img/flag/france-flag.jpg" class="shadow-sm" alt="flag">
                                        <span>Fre</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img src="assets/img/flag/spain-flag.jpg" class="shadow-sm" alt="flag">
                                        <span>Spa</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img src="assets/img/flag/russia-flag.jpg" class="shadow-sm" alt="flag">
                                        <span>Rus</span>
                                    </a>
                                </div> -->
                            </div>
                        </div>
                            
                        <div class="option-item">
                            <ul class="list">
                                <li>
                                    <a href="sign-in.html">
                                        Login 
                                    </a>
                                </li>
                                <li>
                                    Or
                                </li>
                                <li>
                                    Sign up
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Top Header Area -->

<!-- Start Navbar Area -->
<div class="navbar-area">
    <div class="main-responsive-nav">
        <div class="container">
            <div class="main-responsive-menu">
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/img/logo.png" class="black-logo" alt="logo">
                        <img src="assets/img/logo2.png" class="white-logo" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main-navbar">
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/logo.png" class="black-logo" alt="logo">
                    <img src="assets/img/logo2.png" class="white-logo" alt="logo">
                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a   [routerLink]="['/home']"  class="nav-link active">
                                Home 
                            </a>
                           
                        </li>

                        <li class="nav-item">
                            <a [routerLink]="['/aboutus']" class="nav-link">
                                About
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Evolution 
                            </a>
                        </li>


                        <li class="nav-item">
                            <a  [routerLink]="['/solutions']" class="nav-link">
                                Solutions 
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a [routerLink]="['/construction']" class="nav-link active">
                                        Construction
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a  [routerLink]="['/equipment']" class="nav-link">
                                         Construction Equipment
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a  [routerLink]="['/leasing']" class="nav-link">
                                        Leasing Companies
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a  [routerLink]="['/dealers']" class="nav-link">
                                        Dealers
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a  [routerLink]="['/manufacturers']" class="nav-link">
                                        Manufacturers
                                    </a>
                                </li>
                            </ul>                                   
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Resources 
                            </a>
                        </li>

                        <li class="nav-item">
                            <a [routerLink]="['/team']" class="nav-link">
                                Team 
                            </a>
                        </li>                                

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Blog 
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="blog-1.html" class="nav-link">
                                        Blog One
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="blog-2.html" class="nav-link">
                                        Blog Two
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="blog-details.html" class="nav-link">
                                        Blog Three
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">
                                Community
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/faq']" class="nav-link">
                                FAQ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/contactus']" class="nav-link">
                                Contact
                            </a>
                        </li>
                    </ul>

                    <div class="others-options">
                        <div class="d-flex align-items-center">
                            <!-- <div class="option-item">
                                <i class="search-btn bx bx-search-alt"></i>
                                <i class="close-btn bx bx-x"></i>
                                <div class="search-overlay search-popup">
                                    <div class='search-box'>
                                        <form class="search-form">
                                            <input class="search-input" name="text" placeholder="Search" type="text">

                                            <button class="search-button" type="submit">
                                                <i class="bx bx-search-alt"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div> -->

                            <div class="option-item">
                                <a href="tel:+7042791249" class="call-button">
                                    <i class='bx bxs-phone-call'></i>
                                    +(123) 456-7890
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->
