<app-header></app-header>



        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>About Us</h2>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                    <i class='bx bx-right-arrow-alt'></i>
                                </li>
                                <li>About Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start Dedicated Area -->
        <section class="dedicated-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="dedicated-content">
                            <span>About Company</span>
                            <h2>We Are Fully Dedicated To Support</h2>
                            <p>There's this notion that to grow a business, you have to be rutless But we know there's a better way to grow</p>

                            <div class="dedicated-text">
                                <div class="icon">
                                    <img src="assets/img/icons/goal.png" alt="image">
                                </div>
                                <h3>Our Mission</h3>
                                <p>Ryun ipsum dolor sit ametconsecteturing elit sed do eiusmod tempor incididunt laboret dolore magna aliqua minaquaerat.</p>
                            </div>

                            <div class="dedicated-text">
                                <div class="icon">
                                    <img src="assets/img/icons/history.png" alt="image">
                                </div>
                                <h3>Our Story</h3>
                                <p>Ryun ipsum dolor sit ametconsecteturing elit sed do eiusmod tempor incididunt laboret dolore magna aliqua minaquaerat.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="dedicated-image">
                            <img src="assets/img/dedicated.jpg" alt="image">

                            <div class="text">
                                <p><span>16</span>Year Experience</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Dedicated Area -->

        <!-- Start Partner Area -->
        <div class="partner-area">
            <div class="container-fluid">
                <owl-carousel-o [options]="optionsSecondSlider" class="partner-slider">
                    <ng-template carouselSlide>
                        <div class="partner-item">
                            <a href="#" target="_blank"><img src="assets/img/partner/1.png" alt="image"></a>
                            <a href="#" target="_blank"><img src="assets/img/partner/1.png" alt="image"></a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-item">
                            <a href="#" target="_blank"><img src="assets/img/partner/2.png" alt="image"></a>
                            <a href="#" target="_blank"><img src="assets/img/partner/2.png" alt="image"></a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-item">
                            <a href="#" target="_blank"><img src="assets/img/partner/3.png" alt="image"></a>
                            <a href="#" target="_blank"><img src="assets/img/partner/3.png" alt="image"></a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-item">
                            <a href="#" target="_blank"><img src="assets/img/partner/4.png" alt="image"></a>
                            <a href="#" target="_blank"><img src="assets/img/partner/4.png" alt="image"></a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-item">
                            <a href="#" target="_blank"><img src="assets/img/partner/5.png" alt="image"></a>
                            <a href="#" target="_blank"><img src="assets/img/partner/5.png" alt="image"></a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-item">
                            <a href="#" target="_blank"><img src="assets/img/partner/6.png" alt="image"></a>
                            <a href="#" target="_blank"><img src="assets/img/partner/6.png" alt="image"></a>
                        </div>
                    </ng-template>
    
                </owl-carousel-o>
            </div>
        </div>
        <!-- End Partner Area -->

        <!-- Start Team Area -->
        <section class="team-area pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <span>Team</span>
                    <h2>Our Expert Team</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt labore et dolore magna aliqua Quis ipsum</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item">
                            <div class="image">
                                <img src="assets/img/team/image1.jpg" alt="image">
                            
                                <ul class="social">
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bxl-facebook'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bxl-twitter'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bxl-linkedin'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bxl-instagram' ></i>
                                        </a>
                                    </li>
                                </ul>
    
                                <div class="content">
                                    <h3>Alex Maxwel</h3>
                                    <span>Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="team-item">
                            <div class="image">
                                <img src="assets/img/team/image2.jpg" alt="image">
                            
                                <ul class="social">
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bxl-facebook'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bxl-twitter'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bxl-linkedin'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bxl-instagram' ></i>
                                        </a>
                                    </li>
                                </ul>
    
                                <div class="content">
                                    <h3>Nikola Tesla</h3>
                                    <span>Chief Executive</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="team-item">
                            <div class="image">
                                <img src="assets/img/team/image3.jpg" alt="image">
                            
                                <ul class="social">
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bxl-facebook'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bxl-twitter'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bxl-linkedin'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bxl-instagram' ></i>
                                        </a>
                                    </li>
                                </ul>
    
                                <div class="content">
                                    <h3>Charles Darwin</h3>
                                    <span>Managing Partner</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Team Area -->

        <!-- Start Why Choose Area -->
        <section class="why-choose-area pt-100 pb-70">
            <div class="container">
                <div class="section-title-two">
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="title">
                                <span>Why Choose Us</span>
                                <h2>Why We’re Awesome Solution Provider?</h2>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="text">
                                <p>With more than 15 years of experience in the industry we know what it’s like to be at every stage of a growing business</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-choose-item">
                            <img src="assets/img/choose/image1.jpg" alt="image">

                            <div class="title">
                                <h3>Blog ipsum dolor simit sid emot consectetur</h3>
                            </div>

                            <div class="content">
                                <div class="inner-content">
                                    <h3>
                                        <a href="company-details.html">Simple Straight Forward User Interface Ect</a>
                                    </h3>
                                    <p>Migration dolor sit amet conseetur diisci velit sed quia non nuam eius modi tempora incidunt</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-choose-item">
                            <img src="assets/img/choose/image2.jpg" alt="image">

                            <div class="title">
                                <h3>Tempor incididunt ut labore et dolore</h3>
                            </div>

                            <div class="content">
                                <div class="inner-content">
                                    <h3>
                                        <a href="company-details.html">Developer Platform That Tighter Integration</a>
                                    </h3>
                                    <p>Migration dolor sit amet conseetur diisci velit sed quia non nuam eius modi tempora incidunt</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-choose-item">
                            <img src="assets/img/choose/image3.jpg" alt="image">

                            <div class="title">
                                <h3>Ut enim ad minim veniam, quis nostrud</h3>
                            </div>

                            <div class="content">
                                <div class="inner-content">
                                    <h3>
                                        <a href="company-details.html">Migration Wizard To Data From Spreadly</a>
                                    </h3>
                                    <p>Migration dolor sit amet conseetur diisci velit sed quia non nuam eius modi tempora incidunt</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-choose-item">
                            <img src="assets/img/choose/image4.jpg" alt="image">

                            <div class="title">
                                <h3>Duis aute irure dolor in reprehenderit</h3>
                            </div>

                            <div class="content">
                                <div class="inner-content">
                                    <h3>
                                        <a href="company-details.html">Clear Pricing Plans Gentle Monthly Contract</a>
                                    </h3>
                                    <p>Migration dolor sit amet conseetur diisci velit sed quia non nuam eius modi tempora incidunt</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-choose-item">
                            <img src="assets/img/choose/image5.jpg" alt="image">

                            <div class="title">
                                <h3>Sed ut perspiciatis unde omnis iste</h3>
                            </div>

                            <div class="content">
                                <div class="inner-content">
                                    <h3>
                                        <a href="company-details.html">Consult, Onboarding And Training Programs</a>
                                    </h3>
                                    <p>Migration dolor sit amet conseetur diisci velit sed quia non nuam eius modi tempora incidunt</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-choose-item">
                            <img src="assets/img/choose/image6.jpg" alt="image">

                            <div class="title">
                                <h3>Nemo enim ipsam voluptatem quia</h3>
                            </div>

                            <div class="content">
                                <div class="inner-content">
                                    <h3>
                                        <a href="company-details.html">Sell On The With Our Awarded Crm Apps</a>
                                    </h3>
                                    <p>Migration dolor sit amet conseetur diisci velit sed quia non nuam eius modi tempora incidunt</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Why Choose Area -->

        <!-- Start Fun Facts Area -->
        <section class="fun-facts-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-fun-fact">
                            <div class="image">
                                <img src="assets/img/fun-facts-icon/1.png" alt="image">
                            </div>
                            <p>Employee</p>
                            <h3>
                                <span class="odometer" data-count="3500">00</span>
                                <span class="sign-icon">+</span>
                            </h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-fun-fact">
                            <div class="image">
                                <img src="assets/img/fun-facts-icon/2.png" alt="image">
                            </div>
                            <p>Customers</p>
                            <h3>
                                <span class="odometer" data-count="78700">00</span>
                                <span class="sign-icon">+</span>
                            </h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-fun-fact">
                            <div class="image">
                                <img src="assets/img/fun-facts-icon/3.png" alt="image">
                            </div>
                            <p>User</p>
                            <h3>
                                <span class="odometer" data-count="250">00</span>
                                <span class="sign-icon">+</span>
                            </h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-fun-fact">
                            <div class="image">
                                <img src="assets/img/fun-facts-icon/4.png" alt="image">
                            </div>
                            <p>Professionals</p>
                            <h3>
                                <span class="odometer" data-count="28000">00</span>
                                <span class="sign-icon">+</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Fun Facts Area -->

        <!-- Start Feedback Area -->
        <section class="feedback-area ptb-100">
            <div class="container-fluid">
                <div class="section-title">
                    <span>Testimonials</span>
                    <h2>“We Are Committed To Your Success”</h2>
                    <p>Saying ipsum dolor sit ametconsecteturing elit sed do eiusmod tempor incididunt laboret dolore magna aliqua minaquaerat.</p>
                </div>

                <div class="feedback-slider owl-carousel owl-theme">
                    <div class="feedback-item">
                        <div class="feedback-info">
                            <img src="assets/img/client/1.jpg" alt="image">
                            <h4>Donney Jon</h4>
                            <span>Perisian Org</span>
                        </div>
                        <p>I had a small issue with some stats and as I needed them very urgently Worte a mail to support andthey were very fast Thank you guys for your outstanding attitude</p>
                    </div>

                    <div class="feedback-item">
                        <div class="feedback-info">
                            <img src="assets/img/client/2.jpg" alt="image">
                            <h4>David McLean</h4>
                            <span>CEO Manager At Fly</span>
                        </div>
                        <p>I had a small issue with some stats and as I needed them very urgently Worte a mail to support andthey were very fast Thank you guys for your outstanding attitude</p>
                    </div>

                    <div class="feedback-item">
                        <div class="feedback-info">
                            <img src="assets/img/client/3.jpg" alt="image">
                            <h4>Oli Rubion</h4>
                            <span>CFO At Finesty</span>
                        </div>
                        <p>I had a small issue with some stats and as I needed them very urgently Worte a mail to support andthey were very fast Thank you guys for your outstanding attitude</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Feedback Area -->

        <!-- Start Overview Area -->
        <section class="overview-area ptb-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="overview-image">
                                    <img src="assets/img/overview/image1.png" alt="image">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="overview-content">
                                    <h2>Don't Miss Our Upcoming Webinar</h2>
                                    <p>Lorem ipsum dolor sit ametconsecteturing sed do eiusmod tempor inaquae</p>
                                    <a href="#" class="btn-one">
                                        Register Now
                                        <i class='bx bx-right-arrow-alt'></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="overview-image">
                                    <img src="assets/img/overview/image2.png" alt="image">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="overview-content">
                                    <h2>Lorem ipsum dolor sit amet</h2>
                                    <p>Lorem ipsum dolor sit ametconsecteturing sed do eiusmod tempor inaquae</p>
                                    <a href="#" class="btn-two">
                                        Learn More
                                        <i class='bx bx-right-arrow-alt'></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Overview Area -->

<app-footer></app-footer>
