<app-header></app-header>
 <!-- Start Page Title Area -->
 <div class="page-title-area item-bg-12">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Construction Equipments</h2>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                            <i class='bx bx-right-arrow-alt'></i>
                        </li>
                        <li>Construction Equipments </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Default Details Area -->
<section class="default-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="image-sliders owl-carousel owl-theme">
                    <div class="details-image">
                        <img src="https://img.freepik.com/free-photo/pointing-sketch_1098-14323.jpg?t=st=1719903993~exp=1719907593~hmac=db3ed5181518989b7be3b8c2c4fddbf519157b430d1e7bb5bac80e1d9d22ddc7&w=1380" alt="image">
                    </div>

                    <div class="details-image">
                        <img src="https://img.freepik.com/premium-photo/architecture-construction-ai-generated_406939-9250.jpg?w=1380" alt="image">
                    </div>

                    <div class="details-image">
                        <img src="https://img.freepik.com/free-photo/scene-construction-site-with-equipment_23-2151317290.jpg?t=st=1719905153~exp=1719908753~hmac=18e7c2b903c44475df12762e68b991ba09bba73b33f39dc91532c8395c1d3c0e&w=1380" alt="image">
                    </div>

                    <div class="details-image">
                        <img src="https://img.freepik.com/free-photo/close-up-construction-site-excavator_1112-1223.jpg?t=st=1719905541~exp=1719909141~hmac=6e298cdbbd04084857938bdf87635e1f0e1d8b1e109716b15e9b235e480fb469&w=1380" alt="image">
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6">
                <div class="image-sliders owl-carousel owl-theme">
                    <div class="details-image">
                        <img src="https://img.freepik.com/free-photo/close-up-construction-site-excavator_1112-1223.jpg?t=st=1719905541~exp=1719909141~hmac=6e298cdbbd04084857938bdf87635e1f0e1d8b1e109716b15e9b235e480fb469&w=1380" alt="image">
                    </div>

                    <div class="details-image">
                        <img src="https://img.freepik.com/free-photo/scene-construction-site-with-equipment_23-2151317290.jpg?t=st=1719905153~exp=1719908753~hmac=18e7c2b903c44475df12762e68b991ba09bba73b33f39dc91532c8395c1d3c0e&w=1380" alt="image">
                    </div>

                    <div class="details-image">
                        <img src="https://img.freepik.com/free-photo/pointing-sketch_1098-14323.jpg?t=st=1719903993~exp=1719907593~hmac=db3ed5181518989b7be3b8c2c4fddbf519157b430d1e7bb5bac80e1d9d22ddc7&w=1380" alt="image">
                    </div>

                    <div class="details-image">
                        <img src="https://img.freepik.com/premium-photo/architecture-construction-ai-generated_406939-9250.jpg?w=1380" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="details-desc">
                    <h3>We Provide Useful Services</h3>
                    <p>Lorem ipsum dolor sit amet, conse cte tuer adipiscing elit, sed diam no nu m nibhie eui smod. Facil isis atve eros et accumsan etiu sto odi dignis sim qui blandit praesen lup ta de er. At molestiae appellantur pro. Vis wisi oportere per ic ula ad, ei latine prop riae na, mea cu purto debitis.</p>
                    <div class="features-text">
                        <h4>Core Development</h4>
                        <p>No fake products and services. The customer is king, their lives and needs are the inspiration.</p>
                    </div>
                    <div class="features-text">
                        <h4>Define Your Choices</h4>
                        <p>No fake products and services. The customer is king, their lives and needs are the inspiration.</p>
                    </div>
                    <p>Nost rud no eos, no impedit dissenti as mea, ea vide labor amus neglegentur vix. Ancillae intellegat vix et. Sit causae laoreet nolu ise. Ad po exerci nusquam eos te. Cu altera expet enda qui, munere oblique theo phrastu ea vix. Ne nec modus civibus modera tius, sit ei lorem doctus. Ne docen di verterem reformidans eos. Cu altera expetenda qui, munere oblique theophr astus ea vix modus civiu mod eratius.</p>

                    <div class="details-info">
                        <div class="single-info-box">
                            <a href="#" class="default-btn">Waiting list Form</a>
                        </div>
                        <div class="single-info-box">
                            <a href="#" class="default-btn">Pricing Module</a>
                        </div>
                        <div class="single-info-box">
                            <a href="#" class="default-btn">Value Proposition</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Defaults Details Area -->

<!-- Start Overview Area -->
<section class="overview-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="overview-image">
                            <img src="assets/img/overview/image1.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="overview-content">
                            <h2>Don't Miss Our Upcoming Webinar</h2>
                            <p>Lorem ipsum dolor sit ametconsecteturing sed do eiusmod tempor inaquae</p>
                            <a href="#" class="btn-one">
                                Register Now
                                <i class='bx bx-right-arrow-alt'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="overview-image">
                            <img src="assets/img/overview/image2.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="overview-content">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <p>Lorem ipsum dolor sit ametconsecteturing sed do eiusmod tempor inaquae</p>
                            <a href="#" class="btn-two">
                                Learn More
                                <i class='bx bx-right-arrow-alt'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Overview Area -->


<app-footer></app-footer>