<app-header></app-header>

<!-- Start Page Title Area -->
<div class="page-title-area item-bg-6">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="page-title-content">
          <h2>Solutions</h2>
          <ul>
            <li>
              <a href="index.html">Home</a>
              <i class='bx bx-right-arrow-alt'></i>
            </li>
            <li>Solutions</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title Area -->

<!-- Start Solution Area -->
<section class="solution-area pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <span>Solutions</span>
      <h2>Our Best Solutions</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt labore et dolore magna
        aliqua Quis ipsum</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="solution-item">
          <div class="image">
            <a href="solution-details.html">
              <img src="assets/img/00.22.46_d7dc8984.jpg" alt="image">
            </a>
          </div>
          <div class="content">
            <h3>
              <a href="solution-details.html">Construction Contractors</a>
            </h3>
            <p>There are many variations passages Lorem Ipsum available but the majority have suffered</p>
            <a href="solution-details.html" class="read-btn">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="solution-item">
          <div class="image">
            <a href="solution-details.html">
              <img src="assets/img/1598-1024x693.jpg" alt="image">
            </a>
          </div>
          <div class="content">
            <h3>
              <a href="solution-details.html">Construction Equipment </a>
            </h3>
            <p>There are many variations passages Lorem Ipsum available but the majority have suffered</p>
            <a href="solution-details.html" class="read-btn">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="solution-item">
          <div class="image">
            <a href="solution-details.html">
              <img src="assets/img/construction.jpg" alt="image">
            </a>
          </div>
          <div class="content">
            <h3>
              <a href="solution-details.html">Leasing Companies</a>
            </h3>
            <p>There are many variations passages Lorem Ipsum available but the majority have suffered</p>
            <a href="solution-details.html" class="read-btn">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="solution-item">
          <div class="image">
            <a href="solution-details.html">
              <img src="assets/img/Project-Management-scaled.jpg" alt="image">
            </a>
          </div>
          <div class="content">
            <h3>
              <a href="solution-details.html">Dealers</a>
            </h3>
            <p>There are many variations passages Lorem Ipsum available but the majority have suffered</p>
            <a href="solution-details.html" class="read-btn">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="solution-item">
          <div class="image">
            <a href="solution-details.html">
              <img src="assets/img/service-img-5.jpg" alt="image">
            </a>
          </div>
          <div class="content">
            <h3>
              <a href="solution-details.html"> Manufacturers</a>
            </h3>
            <p>There are many variations passages Lorem Ipsum available but the majority have suffered</p>
            <a href="solution-details.html" class="read-btn">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="solution-item">
          <div class="image">
            <a href="solution-details.html">
              <img src="assets/img/1598-1024x693.jpg" alt="image">
            </a>
          </div>
          <div class="content">
            <h3>
              <a href="solution-details.html">Lorem Ipsum Available</a>
            </h3>
            <p>There are many variations passages Lorem Ipsum available but the majority have suffered</p>
            <a href="solution-details.html" class="read-btn">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Solution Area -->

<!-- Start Overview Area -->
<section class="overview-area ptb-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="overview-image">
              <img src="assets/img/overview/image1.png" alt="image">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="overview-content">
              <h2>Don't Miss Our Upcoming Webinar</h2>
              <p>Lorem ipsum dolor sit ametconsecteturing sed do eiusmod tempor inaquae</p>
              <a href="#" class="btn-one">
                Register Now
                <i class='bx bx-right-arrow-alt'></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="overview-image">
              <img src="assets/img/overview/image2.png" alt="image">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="overview-content">
              <h2>Lorem ipsum dolor sit amet</h2>
              <p>Lorem ipsum dolor sit ametconsecteturing sed do eiusmod tempor inaquae</p>
              <a href="#" class="btn-two">
                Learn More
                <i class='bx bx-right-arrow-alt'></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Overview Area -->

<app-footer></app-footer>